{% extends "base.html" %}
{% block content %}
<p> 
    Hola, mi nombre es Nicolas Zoppi y en este momento soy estudiante de la academia CoderHouse.
    Esta pagina web es mi proyecto final de curso, estoy muy emocionado por compartirlo con ustedes. 
    <br>
    Siempre fui muy pasional con la tecnologia, y creo que la programacion es una de las mejores maneras de crear un buen impacto en el mundo. 
    <br>
    Espero que este sitio sea de su agrado.
    <br>
    Los feedbacks son bienvenidos. Gracias por pasarte!
</p>

{% endblock content %}