/* Estilos para la imagen del artículo */
.img-thumbnail {
    display: block;
    max-width: 50%;
    height: auto;
    margin: 20px auto;
    border: 3px solid #333;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  /* Estilos para el título y la descripción del artículo */

  h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  }
  
  h3 {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
  }

  p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: #555;
  }