.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h1 {
    margin-bottom: 20px;
}

.links {
    display: flex;
    padding: 5px 10px;
    margin-right: 10px;
    color: white; /* color del texto */
    text-decoration: none;
    justify-content: flex-end;
    border-radius: 5px;
    margin-bottom: 20px;
}

.links a {
    margin-left: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
}
